@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #a4074d;
}

html {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

a,
button {
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.header {
  position: sticky;
  padding: 48px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .user-control {
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      margin-right: 12px;
    }
    .search {
      position: relative;
      img {
        position: absolute;
        top: 12px;
        left: 12px;
      }
    }
    input {
      width: 100%;
      padding: 12px 12px 10px 40px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
  }
}
